* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
  font-family: 'Glass Antiqua', cursive;
  color: #4A4A4A;
  -webkit-overflow-scrolling: touch;
}


/* video */
.fullscreen-bg {
  z-index        : -100;
  position       : fixed;
  top            : 0;
  right          : 0;
  bottom         : 0;
  left           : 0;
  overflow       : hidden;
  pointer-events : none;
}
.fullscreen-bg:after {
  z-index    : 10;
  content    : '';
  display    : block;
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
}
.fullscreen-bg__video {
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  height         : 100%;
  pointer-events : none;
}
.body {
  display : flex;
  width   : 100%;
  height  : 100vh;
}
img {
  vertical-align : center;
}


/* hover */
#login-button:hover {
  background-color: #FFF;
  color: #50E3C2;
  border: #50E3C2;
}

#rsvpSent {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.3);
  justify-items: center;
  align-items: center;
}
.confirmation-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.confirmation-content > p {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #F8E6C1;
  display: block;
  transition: 0.3s;
  font-weight: 100;
  letter-spacing: 2px;
}
#rsvp-done-btn {
  display          : flex;
  width            : 262px;
  height           : 71px;
  margin-top       : 2em;
  margin-right     : auto;
  margin-left      : auto;
  color            : #F8E6C1;
  border           : 2px solid #F8E6C1;
  border-radius    : 100px;
  background-color : transparent;
  text-align       : center;
  font-size        : 24px;
  justify-content  : center;
  line-height      : 42px;
  letter-spacing   : 2px;
  -webkit-transition-duration: 0.4s; /*safari*/
  transition-duration: 0.4s;
  cursor: pointer;
}
#rsvp-done-btn:hover {
  background-color: #FFF;
  color: #50E3C2;
  border: #50E3C2;
}

/*dark overlay behind white-background modal*/
.modal {
    /*display: grid;*/
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    justify-items: center;
    align-items: center;
}
.closebtn {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #F8E6C1;
    display: block;
    border-radius: 5px;
    background-color: rgba(165,157,154, 0.6);
    transition: 0.3s;
    align-items: center;
}
.modal a:hover, .modal a:focus {
    color: #50E3C2;
}
.button-active:focus {
    background-color: #50E3C2;
}
.modal .closebtn {
    position: absolute;
    top: -5%;
    right: .5%;
    font-size: 100px;
    background-color: transparent;
}


/*placeholders for input fields*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F8E6C1;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F8E6C1;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #F8E6C1;
}

/*placeholders for RSVP input fields*/
.textbox-sharingroom::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9B9B9B;
    opacity: 1; /* Firefox */
    letter-spacing: 1px;
    text-align: justify;
}
.textbox-sharingroom:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9B9B9B;
    opacity: 1; /* Firefox */
    letter-spacing: 1px;
    text-align: justify;
}
.textbox-sharingroom::-ms-input-placeholder { /* Microsoft Edge */
    color: #9B9B9B;
    opacity: 1; /* Firefox */
    letter-spacing: 1px;
    text-align: justify;
}

/*placeholders for song input fields*/
.artist::placeholder, .title::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9B9B9B;
    opacity: 1; /* Firefox */
    letter-spacing: 1px;
    text-align: justify;
}
.artist:-ms-input-placeholder, .title:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9B9B9B;
    opacity: 1; /* Firefox */
    letter-spacing: 1px;
    text-align: justify;
}
.artist::-ms-input-placeholder, .title::-ms-input-placeholder { /* Microsoft Edge */
    color: #9B9B9B;
    opacity: 1; /* Firefox */
    letter-spacing: 1px;
    text-align: justify;
}

/*hiding scrollbar*/
::-webkit-scrollbar {
    display: none;
}

utton:focus {outline:0;}
input:focus {outline:0;}

/* css for .btn in venue selection section */
.btn {
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  background-color: #929292;
  color: white;
  border: none;
  letter-spacing: 1.65px;
  padding: 12px 17px;
  margin-top: 22px;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.btn:focus {
    outline: 0;
    background-color: #50E3C2;
    color: #fff;
}
.btn:visited,
.btn:visited:hover,
.btn:focus,
.btn:focus:hover,
.btn:hover,
.btn:active {
    outline: 0;
    background-color: #50E3C2;
    color: #fff;
}
.btn:active {
  outline: 0;
  background-color: #50E3C2;
  color: #fff;
}
.active {
  color: #fff;
  outline: none;
  background-color: #50E3C2;
}

.modal--opened {
  position: fixed;
  left: 0;
  right: 0;
}


/*main content of modal*/
.white_background {
  display: grid;
  width: 90%;
  max-width: 850px;
  max-height: 90%;
  min-height: 90%;
  border-radius: 20px;
  background-color: rgba(255,255,255, .96);
  justify-content: center;
  overflow-y: auto;
  grid-template-columns: 1fr 10fr 1fr;
  grid-auto-rows: auto;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Down Arrow */
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: auto;
  height: 40px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

#down-arrow {
  margin-left: auto;
  margin-right: auto;
}

/* MODAL HEADER AKA LOGO */
#alreadyRegistered {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 150%;
  font-size: 21px;
}
.modal__header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.logo {
  width: 100%;
  margin-top: 10px;
}

/* MODAL BODY */
.modal__content {
  grid-column: 1 / -1;
  grid-ro: 2 / 3;
  flex-wrap: wrap;
  justify-content: center;
}

/* guest response section */
.greetings-section {
  text-align: center;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.yay {
  grid-column: 2 / 3;
  text-align: center;
}
/* You're invited! Yay! */
.yay > h1 {
  font-size: 52px;
  font-weight: normal;
  margin-top: 70px;
  letter-spacing: 2.33px;
}

/* welcome to our wedding website...
it's now time to R.S.V.P. */
.yay > p:nth-of-type(1) {
  font-size: 19px;
  line-height: 160%;
  font-weight: lighter;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #9B9B9B;
}
/* June 30th, 2018 */
.yay > h2 {
  font-size: 48px;
  color: #50E3C2;
  margin-top: 60px;
  letter-spacing: 2.53px;
  font-weight: normal;
}

/* Oldehove, The Netherlands */
.yay > p:nth-of-type(2) {
  font-size: 18px;
  margin-top: 10px;
  letter-spacing: 2.14px;
}

/* Are you coming? */
.yay h3 {
  font-size: 23px;
  letter-spacing: 1px;
  margin-top: 60px;
  font-weight: normal;
  color: #9B9B9B;
}

/* guest response section */
.guest-responses {
  grid-column: 2 / 3;
  text-align: center;
  margin-top: 30px;
}

/* RADIO BUTTONS STYLING */
.switch-field {
  margin-top: 23px;
  margin-bottom: 10px;
    overflow: hidden;

}

.switch-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: center;
}

.switch-field label {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #929292;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 8px 40px;
  margin: 0px 10px;
  border: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
    color: #FFF;
    background-color:#50E3C2;
}

.switch-field input:checked + label {
  background-color: #50E3C2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label {
  border-radius: 5px;
}


/* We kindly ask you to respond
by March 10, 2018. */
.no-responses-yet > h3 {
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 60px;
  font-weight: lighter;
  color: #9B9B9B;
  line-height: 150%;
  width: 81%;
  margin-left: auto;
  margin-right: auto;
}

/* bummer section */
.bummer {
  width: 100%;
}

/* Bummer! & That's sweet of you  */
.bummer-header, .thats-sweet-header {
  font-size: 48px;
  letter-spacing: 2.33px;
  color: #47E4C2;
  margin-top: 87px;
}

/* too bad you cant make it..... / come visit us soon! */
.bummer-msg, .thats-sweet-msg {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 32px;
  line-height: 160%;
}
.textbox-bummer-container {
  display: inline-block;
  width: 100%;
}
.textbox-bummer {
  border: 0;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  max-height: 115px;
  resize: none;
  padding: 15px 20px;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  line-height: 150%;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.50);
}

.bummer-btn {
  width: auto;
  height: auto;
  font-size: 20px;
  letter-spacing: 2.91px;
  color: #FFF;
  background-color: #50E3C2;
  border-radius: 5px;
  border: 0;
  padding: 15px 42px;
  margin-top: 34px;
}
.bummer-btn:hover {
  color: #50E3C2;
  background-color: #fff;
  border: 2px solid #50E3C2;
}

/* line break for end of Yay section */
.greetings-line-break {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: 40%;
  margin-top: 60px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}

/* Below you'll find more info */
.guest-responses > h4 {
  font-size: 38px;
  margin-top: 60px;
  font-weight: normal;
  letter-spacing: 1px;
}

/* So happy you're coming! */
.so-happy-response > h1 {
  font-size: 42px;
  letter-spacing: 2.33px;
  margin-top: 100px;
  font-weight: lighter;
}
/* below you'll find all the info you need */
.so-happy-response > h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 23px;
  font-weight: lighter;
  color: #9B9B9B;
}

/* If you're still curious */
.still-curious > h1 {
  font-size: 42px;
  letter-spacing: 2.33px;
  margin-top: 100px;
  font-weight: lighter;
}
/* you can still take a peek at our schedule */
.still-curious > h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 23px;
  font-weight: lighter;
  color: #9B9B9B;
}

/*  venue section  */
.venue-section {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
  grid-column: 1 / -1;
}

/* Venue Title */
.venue-header {
  grid-column: 2 / 3;
  text-align: center;
  font-size: 43px;
  margin-top: 70px;
}
.underline-venue {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: 120px;
  margin-top: 5px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}

/* Venue JPEG */
.venue-img {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 40px;
}
.hayemaheerd-pic {
  width: 100.1%;
}

/* Hayema Heerd */
.venue-name {
  grid-column: 2 / 3;
  text-align: center;
  font-size: 38px;
  margin-top: 40px;
  letter-spacing: 3.88px;
}

/* Jensemaweg 3
9883 TH Oldehove
The Netherlands */
.venue-address {
  grid-column: 2 / 3;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 160%;
}

/* venue desription */
.venue-description {
  grid-column: 2 / 3;
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 160%;
  text-align: justify;
}
.venue-link {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 22px;
  text-align: center;
}
.venue-link > a {
  color: #50E3C2;
}
.getting-there {
  text-alignt: justify;
  margin-top: 22px;
}

/* schedule section */
.schedule-section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}

/* schedule */
.schedule-header {
  grid-column: 2 / 3;
  font-size: 43px;
  letter-spacing: 2.33px;
  margin-top: 70px;
  text-align: center;
}
.underline-schedule {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: 290px;
  margin-top: 5px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}

/* June 30th, 2018 */
.schedule-date {
  grid-column: 2 / 3;
  font-size: 40px;
  letter-spacing: 2.6px;
  margin-top: 50px;
  text-align: center;
  color: #50E3C2;
}
/* schedule timeline vector */
.schedule-img {
  grid-column: 2 / 3;
  margin-top: 50px;
  justify-content: center;
}
.png-schedule {
  width: 100%;
  max-width: 480px;
}
/* schedule notes * ** */
.schedule-arrivaltime-notes {
  grid-column: 2 / 3;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 50px;
  text-align: justify;
  line-height: 150%;
}

/* accomodation section */
.accomodation-section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}

/* accomodation */
.accomodation-header {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 43px;
  letter-spacing: 2.33px;
  margin-top: 70px;
}

/* underline accomodation */
.underline-accomodation {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: 240px;
  margin-top: 5px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
/* since your venue is situated.... */
.accomodation-message {
  grid-column: 2 / 3;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
  margin-top: 40px;
  line-height: 160%;
}
.accomodation-camp {
  grid-column: 2 / 3;
  margin-top: 80px;
  text-align: center;
}
/* Camp at the venue */
.camp-title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-top: 17px;
}
/* underline for camp-title */
.underline-camp {
  display: block;
  border: 0;
  border-top: 1px solid #50E3C2;
  width: auto;
  max-width: 315px;
  margin-top: 10px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
.camp-msg {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 20px;
}
.camp-details-container {
  display: inline-block;
}
.camp-details {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 21px;
  line-height: 150%;
  text-align: left;
}
.camp-link {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 22px;
}
.camp-link > a {
  color: #50E3C2;
}
/*.accomodation-camp > button {
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  letter-spacing: 1.65px;
  padding: 12px 17px;
  margin-top: 22px;
}*/
/*.accomodation-camp > button:hover {
  background-color: #50E3C2;
}*/
.svg-camp {
  width: 100%;
  max-width: 90px;
}

/* book bed section */
.accomodation-bookbed {
  grid-column: 2 / 3;
  margin-top: 85px;
  text-align: center;
}
/* Book a bed at the venue */
.bookbed-title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-top: 17px;
}
/* underline for bookbed-title */
.underline-bookbed {
  display: block;
  border: 0;
  border-top: 1px solid #50E3C2;
  width: auto;
  max-width: 360px;
  margin-top: 10px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
.bookbed-msg-container {
  display: inline-block;
  width: 100%;
}
/* go for a unique experience.... */
.bookbed-msg {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: justify;
  line-height: 150%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
.bookbed-details-container {
  display: inline-block;
  width: 100%;
}
.bookbed-details {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 21px;
  line-height: 150%;
  text-align: left;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
}
.bookbed-link {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 22px;
}
.bookbed-link > a {
  color: #50E3C2;
}
/*.accomodation-bookbed > button {
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  letter-spacing: 1.65px;
  padding: 12px 17px;
  margin-top: 22px;
}*/
/*.accomodation-bookbed > button:hover {
  background-color: #50E3C2;
}*/
.svg-bookbed {
  width: 100%;
  max-width: 73px;
}

/* hotel section */
.accomodation-hotel {
  grid-column: 2 / 3;
  margin-top: 85px;
  text-align: center;
}
/* Best Western Hotel in Aduard */
.hotel-title {
  font-size: 28px;
  letter-spacing: 3px;
  margin-top: 17px;
}
/* underline for hotel-title */
.underline-hotel {
  display: block;
  border: 0;
  border-top: 1px solid #50E3C2;
  width: auto;
  max-width: 390px;
  margin-top: 10px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
.hotel-msg-container {
  display: inline-block;
  width: 100%;
}
/* We made reservations for.... */
.hotel-msg {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 20px;
  text-align: justify;
  line-height: 150%;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
.hotel-details-container {
  display: inline-block;
  width: 100%;
}
.hotel-details {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 21px;
  line-height: 150%;
  text-align: left;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.hotel-prices-container {
  display: inline-block;
  width: 100%;
}
.hotel-prices {
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 12px;
  line-height: 150%;
  text-align: left;
  max-width: 153px;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
}
.hotel-link {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 22px;
}
.hotel-link > a {
  color: #50E3C2;
}
/*.accomodation-hotel > button {
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  border: none;
  letter-spacing: 1.65px;
  padding: 12px 17px;
  margin-top: 22px;
}*/
/*.accomodation-hotel > button:hover {
  background-color: #50E3C2;
}*/
.textbox-sharingroom-container {
  display: inline-block;
  width: 100%;
}
.textbox-sharingroom {
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  max-height: 140px;
  resize: none;
  padding: 15px 20px;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  line-height: 150%;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.50);
}
.svg-hotel {
  width: 100%;
  max-width: 73px;
}

/* no thanks, I don't need accomodation */
.accomodation-nothanks {
  grid-column: 2 / 3;
}
.overline-or {
  display: block;
  border: 0;
  border-top: 1px solid #50E3C2;
  width: auto;
  max-width: 430px;
  height: 1px;
  margin-top: 60px;
  margin-bottom: 47px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
.or {
  font-size: 28px;
  letter-spacing: 3px;
}
.accomodation-nothanks > button {
  margin-top: 47px;
}
/*.accomodation-nothanks > button:hover {
  background-color: #50E3C2;
}*/

/* Meet the team secion */
.team-section {
  grid-column: 1 / -1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
/* Meet the team */
.team-header {
  grid-column: 2 / 3;
  margin-top: 95px;
  font-size: 43px;
  letter-spacing: 2.33px;
}
.underline-team {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: auto;
  max-width: 260px;
  margin-top: 5px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
/* We are very pleased to tell.... */
.team-msg {
  grid-column: 2 / 3;
  text-align: justify;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 160%;
  margin-top: 40px;
}
.team-pics {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 57px;
}
.charlotte {
  grid-column: 1 / 2;
}
.eline {
  grid-column: 2 / 3;
}
.charlotte > h1, .eline > h1 {
  font-size: 31px;
  letter-spacing: 1.55px;
  margin-top: 20px;
}
.phone-container {
  margin-top: 13px;
}
.whatsapp {
  vertical-align: middle;
}
.phone-container > span {
  font-size: 22px;
  letter-spacing: 1.55px;
  padding-left: 8px;
  vertical-align: middle;
}
.team-email {
  grid-column: 2 / 3;
  margin-top: 55px;
  font-size: 20px;
  letter-spacing: 1px;
}
.team-email > a {
  text-decoration: none;
}

/* song request section */
.song-request-section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}
/* Song request */
.song-request-header {
  grid-column: 2 / 3;
  font-size: 43px;
  letter-spacing: 1px;
  margin-top: 95px;
}
.underline-song {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: auto;
  max-width: 485px;
  margin-top: 5px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
/* We wanted everyone to enjoy... */
.song-request-msg {
  grid-column: 2 / 3;
  margin-top: 40px;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 160%;
}
.song-request-input {
  grid-column: 2 / 3;
  margin-top: 49px;
  text-align: center;
}
.request1 > input, .request2 > input,
.request3 > input, .request4 > input,
.request5 > input, .request6 > input,
.request7 > input, .request8 > input  {
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 10px 24px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  background: #D8D8D8;
  border: 0;
  color: #4A4A4A;
}

.request2 , .request3 ,
 .request4 , .request5 ,
  .request6 , .request7 ,
   .request8 {
  margin-top: 30px;
}

/*wedding registry section */
.wedding-registry-section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}
/* Wedding registry */
.registry-header {
  grid-column: 2 /3;
  font-size: 43px;
  letter-spacing: 2.33px;
  margin-top: 100px;
}
.underline-registry {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: 200px;
  margin-top: 5px;
  height: 1px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
/* We do not have a wedding registry.... */
.registry-msg {
  grid-column: 2 / 3;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 160%;
  margin-top: 46px;
  text-align: justify;
}

/* closing section */
.closing-section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}
/* we are super excited, Love Nathan and Nikita */
.closing-msg {
  grid-column: 2 / 3;
  margin-top: 85px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 300%;
  font-weight: lighter;
}
.linebreak-closing {
  display: block;
  border: 0;
  border-top: 2px solid #50E3C2;
  width: 350px;
  height: 1px;
  margin-bottom: 85px;
  text-align: center; /*for IE & Opera*/
  -webkit-margin-start: auto; /*for Chrome, Safari, Firefox*/
  -webkit-margin-end: auto; /*for Chrome, Safari, Firefox*/
}
.closing-img-container {
  grid-column: 1 / -1;
  margin-top: 52px;
}
.closing-img {
  width: 100.1%;
}

.modal__footer {
  grid-column: 1 / -1;
  grid-ro: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  text-align: center;
}
.footer {
  grid-column: 2 / 3;
  font-size: 16px;
  letter-spacing: 2.14px;
}

.footer > button {
  width: auto;
  height: auto;
  font-size: 30px;
  font-weight: 300;
  color: #FFF;
  background-color: #50E3C2;
  border-radius: 5px;
  border: none;
  letter-spacing: 2.91px;
  padding: 14px 100px;
  margin-top: 48px;
  margin-bottom: 52px;
}
.footer > button:hover {
  background-color: #fff;
  color: #50E3C2;
  border: 2px solid #50E3C2;
}


@media
  (min-aspect-ratio : 16/9) {
  .fullscreen-bg__video {
    top    : -100%;
    height : 300%;
  }
}

@media
  (max-aspect-ratio : 16/9) {
  .fullscreen-bg__video {
    left  : -108%;
    width : 320%;
  }
}

/* iphone 5 */

@media
  only screen
  and (max-width : 330px) {
  .modal .closebtn {
  top: -51px;
  right: -1.5%;
  font-size: 89;
}
/* logo */
    .modal__header {
      margin-top: 0px;
    }
/* You're invited! Yay! */
    .yay > h1 {
    font-size: 28px;
    margin-top: 20px;
  }
/* welcome to our wedding website... */
    .yay > p:nth-of-type(1) {
    font-size: 14px;
    margin-top: 5px;
    line-height: 150%;
  }
/* June 30th, 2018 */
  .yay > h2 {
    font-size: 30px;
    margin-top: 70px;
  }
/* Oldehove, The Netherlands */
  .yay > p:nth-of-type(2) {
    font-size: 14px;
    letter-spacing: 1.8px;
    margin-top: 5px;
  }
/* Are you coming? */
  .yay h3 {
    font-size: 20px;
    margin-top: 70px;
  }
/* guest response section */
.guest-responses {
  margin-top: 30px;
}
/* names */
.switch-title {
  font-size: 26px;
  margin-bottom: 8px;
}
.switch-field {
  margin-top: 15px;
}
/* buttons */
.switch-field label {
  font-size: 20px;
  font-weight: lighter;
  margin: 0px 3px;
  padding: 10px 45px;
}
/* we kindly ask you to respond by... */
.no-responses-yet > h3 {
  font-size: 16px;
  line-height: 150%;
}
/* Bummer! & That's sweet of you  */
.bummer-header, .thats-sweet-header {
  font-size: 36px;
  margin-top: 80px;
}
/* too bad you cant make it..... / come visit us soon! */
.bummer-msg, .thats-sweet-msg {
  font-size: 13px;
  margin-top: 20px;
}
.bummer > button {
  font-size: 18px;
}
/* Below you'll find more info */
.guest-responses > h4 {
  font-size: 20px;
  margin-top: 40px;
}
/* So happy you're coming! */
.so-happy-response > h1 {
  font-size: 28px;
  margin-top: 40px;
}
/* below you'll find all the info you need */
.so-happy-response > h2 {
  font-size: 16px;
  margin-top: 10px;
}
/* If you're still curious */
.still-curious > h1 {
  font-size: 28px;
  margin-top: 40px;
}
/* you can still take a peek at our schedule */
.still-curious > h2 {
  font-size: 16px;
  margin-top: 10px;
}
/* Venue Title */
.venue-header {
  font-size: 35px;
  margin-top: 50px;
}
.underline-venue {
  width: 100px;
  margin-top: 1px;
}
/* Venue JPEG */
.venue-img {
  margin-top: 25px;
}

/* Hayema Heerd */
.venue-name {
  font-size: 26px;
  margin-top: 20px;
  letter-spacing: 2px;
}
/* Jensemaweg 3
9883 TH Oldehove
The Netherlands */
.venue-address {
  margin-top: 20px;
  font-size: 17px;
  letter-spacing: 1px;
}
/* venue desription */
.venue-description {
  margin-top: 20px;
  font-size: 16px;
}
/* schedule */
.schedule-header {
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.underline-schedule {
  width: 220px;
  margin-top: 1px;
}
/* June 30th, 2018 */
.schedule-date {
  font-size: 28px;
  letter-spacing: 2px;
  margin-top: 50px;
}
.schedule-img {
  margin-top: 30px;
}
/* schedule notes * ** */
.schedule-arrivaltime-notes {
  font-size: 15px;
  margin-top: 30px;
}
/* accomodation */
.accomodation-header {
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 50px;
}
/* underline accomodation */
.underline-accomodation {
  width: 180px;
  margin-top: 1x;
  height: 1px;
}
/* since your venue is situated.... */
.accomodation-message {
  font-size: 17px;
  margin-top: 30px;
}
.camp-title {
  font-size: 30px;
  letter-spacing: 1px;
}
.underline-camp {
  margin-top: 1px;
}
.bookbed-title {
  font-size: 30px;
  letter-spacing: 1px;
}
.underline-bookbed {
  margin-top: 1px;
}
.hotel-title {
  font-size: 30px;
  letter-spacing: 1px;
}
.underline-hotel {
  margin-top: 1px;
}

.textbox-sharingroom {
  font-size: 15px;
  height: 300px;
}

.team-header {
  font-size: 35px;
  margin-top: 100px;
  letter-spacing: 1px;
}
.underline-team {
  max-width: 200px;
  margin-top: 1px;
}
/* We are very pleased to tell.... */
.team-msg {
  font-size: 17px;
  margin-top: 30px;
}
.charlotte {
  grid-column: 1 / 3;
}
.eline {
  grid-column: 1 / 3;
  margin-top: 60px;
}
.charlotte > h1, .eline > h1 {
  font-size: 28px;
  margin-top: 10px;
}
.phone-container {
  margin-top: 7px;
}
.team-email {
  font-size: 17px;
}
.song-request-header {
  font-size: 35px;
  margin-top: 50px;
}
.underline-song {
  max-width: 210px;
  margin-top: 1px;
}
/* We wanted everyone to enjoy... */
.song-request-msg {
  margin-top: 30px;
  font-size: 17px;
  text-align: justify;
}
.song-request-input {
  margin-top: 35px;
}
.request1 > input, .request2 > input,
.request3 > input, .request4 > input,
.request5 > input, .request6 > input,
.request7 > input, .request8 > input  {
  width: auto;
  height: 40px;
  font-size: 18px;
  padding: 10px 24px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* wedding registy section */
.registry-header {
  font-size: 35px;
  margin-top: 50px;
}
.underline-registry {
  width: 170px;
  margin-top: 1px;
}
.registry-msg {
  font-size: 17px;
  margin-top: 30px;
}
.linebreak-closing {
  width: 180px;
  margin-bottom: 50px;
}
/* we are super excited, Love Nathan and Nikita */
.closing-msg {
  margin-top: 50px;
  font-size: 18px;
  line-height: 250%;
}
.closing-img-container {
  margin-top: 20px;
}
.modal__footer {
  margin-top: 40px;
}
.footer {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 200%;
}
#rsvp-request {
  margin-top: 20px;
}
.footer > button {
  margin-bottom: 15px;
  padding: 14px 15px;
  font-size: 21px;
}

}
/* iphone 6 and medium screens */

@media
  only screen
  and (min-width : 331px)
  and (max-width : 375px) {
    .modal .closebtn {
    top: -50px;
    right: -1%;
    font-size: 89;
  }
  /* logo */
      .modal__header {
        margin-top: 0px;
      }
  /* You're invited! Yay! */
      .yay > h1 {
      font-size: 30px;
      margin-top: 20px;
    }
  /* welcome to our wedding website... */
      .yay > p:nth-of-type(1) {
      font-size: 14px;
      margin-top: 5px;
    }
  /* June 30th, 2018 */
    .yay > h2 {
      font-size: 33px;
      margin-top: 70px;
    }
  /* Oldehove, The Netherlands */
    .yay > p:nth-of-type(2) {
      font-size: 12px;
      letter-spacing: 1.8px;
      margin-top: 5px;
    }
  /* Are you coming? */
    .yay h3 {
      font-size: 22px;
      margin-top: 70px;
    }
  /* guest response section */
  .guest-responses {
    margin-top: 30px;
  }
  /* names */
  .switch-title {
    font-size: 27px;
    margin-bottom: 8px;
  }
  .switch-field {
    margin-top: 15px;
  }
  /* buttons */
  .switch-field label {
    font-size: 20px;
    font-weight: lighter;
    margin: 0px 3px;
    padding: 10px 45px;
  }
  /* we kindly ask you to respond by... */
  .no-responses-yet > h3 {
    font-size: 18px;
    line-height: 150%;
  }
  /* Bummer! & That's sweet of you  */
  .bummer-header, .thats-sweet-header {
    font-size: 38px;
    margin-top: 80px;
  }
  /* too bad you cant make it..... / come visit us soon! */
  .bummer-msg, .thats-sweet-msg {
    font-size: 15px;
    margin-top: 20px;
  }
  .bummer > button {
    font-size: 18px;
  }
  /* Below you'll find more info */
  .guest-responses > h4 {
    font-size: 22px;
    margin-top: 40px;
  }
  /* So happy you're coming! */
  .so-happy-response > h1 {
    font-size: 30px;
    margin-top: 40px;
  }
  /* below you'll find all the info you need */
  .so-happy-response > h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  /* If you're still curious */
  .still-curious > h1 {
    font-size: 28px;
    margin-top: 40px;
  }
  /* you can still take a peek at our schedule */
  .still-curious > h2 {
    font-size: 16px;
    margin-top: 10px;
  }
  /* Venue Title */
  .venue-header {
    font-size: 35px;
    margin-top: 50px;
  }
  .underline-venue {
    width: 95px;
    margin-top: 1px;
  }
  /* Venue JPEG */
  .venue-img {
    margin-top: 25px;
  }

  /* Hayema Heerd */
  .venue-name {
    font-size: 26px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  /* Jensemaweg 3
  9883 TH Oldehove
  The Netherlands */
  .venue-address {
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 1px;
  }
  /* venue desription */
  .venue-description {
    margin-top: 20px;
    font-size: 16px;
  }
  /* schedule */
  .schedule-header {
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  .underline-schedule {
    width: 220px;
    margin-top: 1px;
  }
  /* June 30th, 2018 */
  .schedule-date {
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  .schedule-img {
    margin-top: 30px;
  }
  /* schedule notes * ** */
  .schedule-arrivaltime-notes {
    font-size: 15px;
    margin-top: 30px;
  }
  /* accomodation */
  .accomodation-header {
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  /* underline accomodation */
  .underline-accomodation {
    width: 180px;
    margin-top: 1x;
    height: 1px;
  }
  /* since your venue is situated.... */
  .accomodation-message {
    font-size: 17px;
    margin-top: 30px;
  }
  .camp-title {
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-camp {
    max-width: 250px;
    margin-top: 3px;
  }
  .camp-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .bookbed-title {
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-bookbed {
    max-width: 260px;
    margin-top: 3px;
  }
  .bookbed-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .bookbed-details {
    max-width: 220px;
  }
  .hotel-title {
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-hotel {
    max-width: 230px;
    margin-top: 3px;
  }
  .hotel-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .hotel-details {
    max-width: 220px;
  }
  .hotel-prices {
    max-width: 125px;
  }

  .textbox-sharingroom {
    font-size: 15px;
    max-height: 145px;
  }

  .team-header {
    font-size: 35px;
    margin-top: 90px;
    letter-spacing: 1px;
  }
  .underline-team {
    max-width: 200px;
    margin-top: 1px;
  }
  /* We are very pleased to tell.... */
  .team-msg {
    font-size: 17px;
    margin-top: 30px;
  }
  .charlotte {
    grid-column: 1 / 3;
  }
  .eline {
    grid-column: 1 / 3;
    margin-top: 60px;
  }
  .charlotte > h1, .eline > h1 {
    font-size: 28px;
    margin-top: 10px;
  }
  .phone-container {
    margin-top: 7px;
  }
  .team-email {
    font-size: 17px;
  }
  .song-request-header {
    font-size: 35px;
    margin-top: 50px;
  }
  .underline-song {
    max-width: 210px;
    margin-top: 1px;
  }
  /* We wanted everyone to enjoy... */
  .song-request-msg {
    margin-top: 30px;
    font-size: 17px;
    text-align: justify;
  }
  .song-request-input {
    margin-top: 25px;
  }
  .request1 > input, .request2 > input,
  .request3 > input, .request4 > input,
  .request5 > input, .request6 > input,
  .request7 > input, .request8 > input  {
    width: auto;
    height: 40px;
    font-size: 18px;
    padding: 10px 24px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .request2 , .request3 ,
   .request4 , .request5 ,
    .request6 , .request7 ,
     .request8 {
    margin-top: 25px;
  }

  /* wedding registy section */
  .registry-header {
    font-size: 35px;
    margin-top: 50px;
  }
  .underline-registry {
    width: 165px;
    margin-top: 1px;
  }
  .registry-msg {
    font-size: 17px;
    margin-top: 30px;
  }
  .linebreak-closing {
    width: 180px;
    margin-bottom: 50px;
  }
  /* we are super excited, Love Nathan and Nikita */
  .closing-msg {
    margin-top: 50px;
    font-size: 18px;
    line-height: 250%;
  }
  .closing-img-container {
    margin-top: 20px;
  }
  .modal__footer {
    margin-top: 30px;
  }
  .footer {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 200%;
  }
  #rsvp-request {
    margin-top: 20px;
  }
  .footer > button {
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 14px 14px;
    font-size: 25px;
  }
}

/* iphone 6S and plus screens */

@media
  only screen
  and (min-width : 376px)
  and (max-width : 766px) {
    .modal .closebtn {
    top: -47px;
    right: 0%;
    font-size: 89;
  }
  /* logo */
      .modal__header {
        margin-top: 0px;
      }
  /* You're invited! Yay! */
      .yay > h1 {
      font-size: 31px;
      margin-top: 20px;
    }
  /* welcome to our wedding website... */
      .yay > p:nth-of-type(1) {
      font-size: 14px;
      margin-top: 8px;
      line-height: 150%;
    }
  /* June 30th, 2018 */
    .yay > h2 {
      font-size: 31px;
      margin-top: 70px;
    }
  /* Oldehove, The Netherlands */
    .yay > p:nth-of-type(2) {
      font-size: 14px;
      letter-spacing: 1.8px;
      margin-top: 8px;
    }
  /* Are you coming? */
    .yay h3 {
      font-size: 22px;
      margin-top: 70px;
    }
  /* guest response section */
  .guest-responses {
    margin-top: 30px;
  }
  /* names */
  .switch-title {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .switch-field {
    margin-top: 15px;
  }
  /* buttons */
  .switch-field label {
    font-size: 23px;
    font-weight: lighter;
    margin: 2px 8px;
    padding: 12px 50px;
  }
  /* we kindly ask you to respond by... */
  .no-responses-yet > h3 {
    font-size: 18px;
    line-height: 150%;
  }
  /* Bummer! & That's sweet of you  */
  .bummer-header, .thats-sweet-header {
    font-size: 38px;
    margin-top: 80px;
  }
  /* too bad you cant make it..... / come visit us soon! */
  .bummer-msg, .thats-sweet-msg {
    font-size: 15px;
    margin-top: 20px;
  }
  .bummer > button {
    font-size: 18px;
  }
  /* Below you'll find more info */
  .guest-responses > h4 {
    font-size: 28px;
    margin-top: 40px;
  }
  /* So happy you're coming! */
  .so-happy-response > h1 {
    font-size: 33px;
    margin-top: 40px;
    letter-spacing: 2px;
  }
  /* below you'll find all the info you need */
  .so-happy-response > h2 {
    font-size: 18px;
    margin-top: 10px;
  }
  /* If you're still curious */
  .still-curious > h1 {
    font-size: 33px;
    margin-top: 40px;
    letter-spacing: 2px;
  }
  /* you can still take a peek at our schedule */
  .still-curious > h2 {
    font-size: 16px;
    margin-top: 10px;
  }
  /* Venue Title */
  .venue-header {
    font-size: 38px;
    margin-top: 50px;
  }
  .underline-venue {
    width: 100px;
    margin-top: 1px;
  }
  /* Venue JPEG */
  .venue-img {
    margin-top: 25px;
  }

  /* Hayema Heerd */
  .venue-name {
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 2px;
  }
  /* Jensemaweg 3
  9883 TH Oldehove
  The Netherlands */
  .venue-address {
    margin-top: 24px;
    font-size: 17px;
    letter-spacing: 1px;
  }
  /* venue desription */
  .venue-description {
    margin-top: 23px;
    font-size: 17px;
  }
  /* schedule */
  .schedule-header {
    font-size: 38px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  .underline-schedule {
    width: 240px;
    margin-top: 1px;
  }
  /* June 30th, 2018 */
  .schedule-date {
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  .schedule-img {
    margin-top: 30px;
  }
  /* schedule notes * ** */
  .schedule-arrivaltime-notes {
    font-size: 16px;
    margin-top: 30px;
  }
  /* accomodation */
  .accomodation-header {
    font-size: 38px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  /* underline accomodation */
  .underline-accomodation {
    width: 190px;
    margin-top: 1px;
    height: 1px;
  }
  /* since your venue is situated.... */
  .accomodation-message {
    font-size: 17px;
    margin-top: 30px;
  }
  .camp-title {
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-camp {
    max-width: 250px;
    margin-top: 3px;
  }
  .camp-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .accomodation-camp > button {
    font-size: 20px;
    padding: 15px 25px;
  }
  .bookbed-title {
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-bookbed {
    max-width: 260px;
    margin-top: 3px;
  }
  .bookbed-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .bookbed-details {
    max-width: 220px;
  }
  .accomodation-bookbed > button {
    font-size: 20px;
    padding: 15px 25px;
  }
  .hotel-title {
    font-size: 26px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-hotel {
    max-width: 310px;
    margin-top: 3px;
  }
  .hotel-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .hotel-details {
    max-width: 220px;
  }
  .hotel-prices {
    max-width: 125px;
  }
  .accomodation-hotel > button {
    font-size: 20px;
    padding: 15px 25px;
  }

  .textbox-sharingroom {
    font-size: 15px;
    max-height: 145px;
  }
  .accomodation-nothanks > button {
    font-size: 20px;
    padding: 15px 25px;
    line-height: 140%;
  }

  .team-header {
    font-size: 38px;
    margin-top: 90px;
    letter-spacing: 1px;
  }
  .underline-team {
    max-width: 220px;
    margin-top: 1px;
  }
  /* We are very pleased to tell.... */
  .team-msg {
    font-size: 17px;
    margin-top: 30px;
  }
  .charlotte {
    grid-column: 1 / 3;
  }
  .eline {
    grid-column: 1 / 3;
    margin-top: 60px;
  }
  .charlotte > h1, .eline > h1 {
    font-size: 28px;
    margin-top: 10px;
  }
  .phone-container {
    margin-top: 7px;
  }
  .phone-container > span {
    font-size: 20px;
  }
  .team-email {
    font-size: 17px;
  }
  .song-request-header {
    font-size: 38px;
    margin-top: 50px;
  }
  .underline-song {
    max-width: 420px;
    margin-top: 1px;
  }
  /* We wanted everyone to enjoy... */
  .song-request-msg {
    margin-top: 30px;
    font-size: 17px;
    text-align: justify;
  }
  .song-request-input {
    margin-top: 25px;
  }
  .request1 > input, .request2 > input,
  .request3 > input, .request4 > input,
  .request5 > input, .request6 > input,
  .request7 > input, .request8 > input  {
    width: auto;
    height: 40px;
    font-size: 18px;
    padding: 10px 24px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .request2 , .request3 ,
   .request4 , .request5 ,
    .request6 , .request7 ,
     .request8 {
    margin-top: 25px;
  }

  /* wedding registy section */
  .registry-header {
    font-size: 38px;
    margin-top: 50px;
  }
  .underline-registry {
    width: 180px;
    margin-top: 1px;
  }
  .registry-msg {
    font-size: 17px;
    margin-top: 30px;
  }
  .linebreak-closing {
    width: 180px;
    margin-bottom: 50px;
  }
  /* we are super excited, Love Nathan and Nikita */
  .closing-msg {
    margin-top: 50px;
    font-size: 17px;
    line-height: 250%;
  }
  .closing-img-container {
    margin-top: 20px;
  }
  .modal__footer {
    margin-top: 30px;
  }
  .footer {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 200%;
  }
  #rsvp-request {
    margin-top: 20px;
  }
  .footer > button {
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 14px 14px;
    font-size: 25px;
  }
}

/* Tablet Styles */

@media
  only screen
  and (min-width : 767px)
  and (max-width : 1024px) {
    .modal .closebtn {
    top: -47px;
    right: 0%;
    font-size: 89;
  }
  /* logo */
      .modal__header {
        margin-top: 0px;
      }
  /* You're invited! Yay! */
      .yay > h1 {
      font-size: 55px;
      margin-top: 20px;
    }
  /* welcome to our wedding website... */
      .yay > p:nth-of-type(1) {
      font-size: 18px;
      margin-top: 8px;
    }
  /* June 30th, 2018 */
    .yay > h2 {
      font-size: 50px;
      margin-top: 70px;
    }
  /* Oldehove, The Netherlands */
    .yay > p:nth-of-type(2) {
      font-size: 18px;
      letter-spacing: 1.8px;
      margin-top: 5px;
    }
  /* Are you coming? */
    .yay h3 {
      font-size: 28px;
      margin-top: 80px;
    }
  /* guest response section */
  .guest-responses {
    margin-top: 30px;
  }
  /* names */
  .switch-title {
    font-size: 36px;
    margin-bottom: 8px;
  }
  .switch-field {
    margin-top: 25px;
  }
  /* buttons */
  .switch-field label {
    font-size: 28px;
    font-weight: lighter;
    margin: 5px 15px;
    padding: 15px 55px;
  }
  /* we kindly ask you to respond by... */
  .no-responses-yet > h3 {
    font-size: 25px;
    line-height: 150%;
  }
  /* Bummer! & That's sweet of you  */
  .bummer-header, .thats-sweet-header {
    font-size: 48px;
    margin-top: 80px;
  }
  /* too bad you cant make it..... / come visit us soon! */
  .bummer-msg, .thats-sweet-msg {
    font-size: 21px;
    margin-top: 20px;
  }
  .bummer > button {
    font-size: 18px;
  }
  /* Below you'll find more info */
  .guest-responses > h4 {
    font-size: 38px;
    margin-top: 40px;
  }
  /* So happy you're coming! */
  .so-happy-response > h1 {
    font-size: 40px;
    margin-top: 40px;
  }
  /* below you'll find all the info you need */
  .so-happy-response > h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  /* If you're still curious */
  .still-curious > h1 {
    font-size: 40px;
    margin-top: 40px;
  }
  /* you can still take a peek at our schedule */
  .still-curious > h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  /* Venue Title */
  .venue-header {
    font-size: 45px;
    margin-top: 80px;
  }
  .underline-venue {
    width: 120px;
    margin-top: 1px;
  }
  /* Venue JPEG */
  .venue-img {
    margin-top: 35px;
  }

  /* Hayema Heerd */
  .venue-name {
    font-size: 36px;
    margin-top: 30px;
    letter-spacing: 2px;
  }
  /* Jensemaweg 3
  9883 TH Oldehove
  The Netherlands */
  .venue-address {
    margin-top: 28px;
    font-size: 17px;
    letter-spacing: 1px;
  }
  /* venue desription */
  .venue-description {
    margin-top: 20px;
    font-size: 20px;
  }
  /* schedule */
  .schedule-header {
    font-size: 45px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  .underline-schedule {
    width: 160px;
    margin-top: 1px;
  }
  /* June 30th, 2018 */
  .schedule-date {
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 70px;
  }
  .schedule-img {
    margin-top: 60px;
  }
  /* schedule notes * ** */
  .schedule-arrivaltime-notes {
    font-size: 17px;
    margin-top: 30px;
  }
  /* accomodation */
  .accomodation-header {
    font-size: 45px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  /* underline accomodation */
  .underline-accomodation {
    width: 270px;
    margin-top: 1x;
    height: 1px;
  }
  /* since your venue is situated.... */
  .accomodation-message {
    font-size: 20px;
    margin-top: 30px;
  }
  .accomodation-camp {
    margin-top: 90px;
  }
  .camp-title {
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-camp {
    max-width: 300px;
    margin-top: 5px;
  }
  .camp-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .accomodation-camp > button {
    font-size: 24px;
    padding: 15px 25px;
  }
  .accomodation-bookbed {
    margin-top: 90px;
  }
  .bookbed-title {
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-bookbed {
    max-width: 390px;
    margin-top: 5px;
  }
  .bookbed-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .bookbed-details {
    max-width: 220px;
  }
  .accomodation-bookbed > button {
    font-size: 24px;
    padding: 15px 25px;
  }
  .accomodation-hotel {
    margin-top: 90px;
  }
  .hotel-title {
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  .underline-hotel {
    max-width: 460px;
    margin-top: 5px;
  }
  .hotel-msg {
    font-size: 16px;
    margin-top: 18px;
  }
  .hotel-details {
    max-width: 220px;
  }
  .hotel-prices {
    max-width: 125px;
  }
  .accomodation-hotel > button {
    font-size: 24px;
    padding: 15px 25px;
  }

  .textbox-sharingroom {
    font-size: 15px;
    max-height: 145px;
  }
  .or {
    font-size: 34px;
  }
  .accomodation-nothanks > button {
    font-size: 24px;
    padding: 15px 25px;
  }
  .team-header {
    font-size: 40px;
    margin-top: 90px;
    letter-spacing: 1px;
  }
  .underline-team {
    max-width: 220px;
    margin-top: 1px;
  }
  /* We are very pleased to tell.... */
  .team-msg {
    font-size: 20px;
    margin-top: 30px;
  }
  .charlotte {
    grid-column: 1 / 2;
  }
  .eline {
    grid-column: 2 / 3;
  }
  .charlotte > h1, .eline > h1 {
    font-size: 28px;
    margin-top: 10px;
  }
  .phone-container {
    margin-top: 7px;
  }
  .team-email {
    font-size: 17px;
  }
  .song-request-header {
    font-size: 40px;
    margin-top: 50px;
  }
  .underline-song {
    max-width: 210px;
    margin-top: 1px;
  }
  /* We wanted everyone to enjoy... */
  .song-request-msg {
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
  }
  .song-request-input {
    margin-top: 25px;
  }
  .request1 > input, .request2 > input,
  .request3 > input, .request4 > input,
  .request5 > input, .request6 > input,
  .request7 > input, .request8 > input  {
    width: auto;
    height: 40px;
    font-size: 18px;
    padding: 10px 24px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .request2 , .request3 ,
   .request4 , .request5 ,
    .request6 , .request7 ,
     .request8 {
    margin-top: 15px;
  }

  /* wedding registy section */
  .registry-header {
    font-size: 40px;
    margin-top: 50px;
  }
  .underline-registry {
    width: 265px;
    margin-top: 1px;
  }
  .registry-msg {
    font-size: 20px;
    margin-top: 30px;
  }
  .linebreak-closing {
    width: 180px;
    margin-bottom: 50px;
  }
  /* we are super excited, Love Nathan and Nikita */
  .closing-msg {
    margin-top: 50px;
    font-size: 18px;
    line-height: 250%;
  }
  .closing-img-container {
    margin-top: 20px;
  }
  .modal__footer {
    margin-top: 30px;
  }
  .footer {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 200%;
  }
  #rsvp-request {
    margin-top: 20px;
  }
  .footer > button {
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 14px 14px;
    font-size: 25px;
  }

}

/* Desktop Styles */

@media
  only screen
  and (min-width : 1025px) {

}

/**
 * release only if needed for better performance (mobile users) @media
 * (max-width: 767px) { .fullscreen-bg { background:
 * url('img-vid/eng-540p-low-img.jpg') center center / cover no-repeat; }
 */
